.category-card-admin {
    margin-bottom: 20px;
    border-radius: 10px;
}

.category-card-name-admin {
    margin-top: 40px;
    margin-left: 20px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    display: flex;
}