.campo-lateral {
    display: flex;
    flex-wrap: nowrap;
}

.password-text-helper {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.015em;
}

.space-inter-fields {
    padding-right: 30px;
}

.size-field-454 {
    width: 454px;
}

.size-field-email {
    width: 938px;
}